<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enginit.laptop.dttd">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Rectangle"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Circle"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Pipe"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Tube"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Ibeam"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Channel"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Doubleangle"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchTGDC"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchTGKDC"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchI"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchC"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchO"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchOHP"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchHHP"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchOVD"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchHVD"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchOMKMN"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchHMKMN"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
    </application>

</manifest>